@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");
body {
  font-family: "Montserrat", sans-serif;
  background-color: #111111;
}

.navbar {
  background-color: #111111;
}

.navbar .navbar-brand {
  opacity: 0.8;
  color: #f5f5f7;
  font-size: 14px;
  font-weight: 600;
}

.navbar .navbar-brand:hover {
  color: #14ceca;
}

.navbar .navbar-nav .nav-item a {
  opacity: 0.8;
  font-size: 13px;
  color: #f5f5f7;
  font-weight: 600;
  margin-left: 25px;
}

.navbar .navbar-nav .nav-item a:hover {
  color: #14ceca;
}

.landing-sec {
  height: 100vh;
  padding-top: 150px;
}

.landing-sec h3 {
  color: #fafafa;
  font-size: 20px;
  font-weight: 600;
}

.landing-sec h1 {
  font-size: 92px;
  font-weight: 700;
  color: #fafafa;
}

.landing-sec h1 span {
  background-image: linear-gradient(to right, #0d8cdc, #11b0ab);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.landing-sec p {
  color: #a1a1a1;
  font-size: 18px;
  font-weight: 500;
}

.landing-sec .btn {
  background-image: linear-gradient(to right, #0d8cdc, #11b0ab);
  color: #fafafa;
  height: 50px;
  width: 150px;
  font-weight: 600;
  border-radius: 10px;
}

.buttonnn {
  text-decoration: none;
  color: white;
}

.aboutSec {
  padding-top: 50px;
  padding-bottom: 100px;
  padding-left: 50px;
}

.aboutSec h1 {
  color: #fafafa;
  font-size: 60px;
  font-weight: 700;
}

.aboutSec h3 {
  font-size: 16px;
  font-weight: 500;
  color: #14ceca;
  padding-top: 50px;
}

.aboutSec h2 {
  font-size: 26px;
  color: #f9f9f9;
  font-weight: 700;
  padding-top: 5px;
}

.aboutSec p {
  color: #f9f9f9;
  font-size: 15px;
  padding-top: 10px;
  font-weight: 500;
}

.aboutSec table td {
  color: #f9f9f9;
  font-size: 14px;
  font-weight: 500;
}

.aboutSec table td span {
  color: #11b0ab;
}

.aboutSec .btn {
  background-image: linear-gradient(to right, #0d8cdc, #11b0ab);
  color: #fafafa;
  height: 50px;
  width: 150px;
  font-weight: 600;
  border-radius: 10px;
}

.aboutSec img {
  padding-top: 50px;
}

/* Experience Section */
#experience {
  padding: 100px 0;
  background-color: #111111;
}

.section__text__p1 {
  color: #14ceca;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  padding-bottom: 10px;
}

.title {
  color: #fafafa;
  font-size: 48px;
  font-weight: 700;
  text-align: center; 
  margin-bottom: 50px;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.about-containers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.details-container {
  background-color: #1a1a1e;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
}

.experience-sub-title {
  color: #fafafa;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.article-container {
  display: flex;
  color: whitesmoke;
  flex-direction: column;
  gap: 15px;
}

.article-container article {
  display: flex;
  align-items: center;
  gap: 15px;
}

.article-container article img {
  width: 30px;
  height: 30px;
}

.icon {
  width: 30px;
  height: 30px;
}

.left__triangle,
.right__triangle {
  position: absolute;
  top: 0;
  width: 100px;
}

.left__triangle {
  left: 0;
}

.right__triangle {
  right: 0;
}


.contactSec {
  padding-top: 50px;
  padding-bottom: 100px;
  text-align: center;
}

.contactSec form {
  max-width: 50%; 
  margin: 0 auto; 
}

.contactSec .form-control {
  width: 100%; 
}

.projectSec {
  padding-top: 50px;
  padding-bottom: 100px;
  padding-left: 50px;
  width : 70%;   
}

.projectSec .heading h1 {
  color: #fafafa;
  font-size: 60px;
  font-weight: 700;
  text-align: center;
}

.projectSec .content .card {
  background-color: #1a1a1e;
  border-radius: 15px;
  margin-top: 40px;
}

.projectSec .content .card h5 {
  color: #15d7c8;
  font-size: 15px;
}

.projectSec .content .card i {
  font-size: 16px;
  color: #fafafa;
  margin-left: 8px;
  margin-right: 8px;
}

.projectSec .content .card i:hover {
  color: #15d7c8;
}

.projectSec .content .card h3 {
  font-size: 24px;
  color: #fafafa;
  font-weight: 600;
  margin-bottom: 10px;
}

.projectSec .content .card p {
  font-size: 16px;
  color: #818181;
  font-weight: 500;
}

.projectSec .content .card .badge {
  background-color: #15d7c8;
  color: #fafafa;
  margin-right: 5px;
}

.contactSec {
  padding-top: 50px;
  padding-bottom: 100px;
  padding-left: 50px;
  text-align: center;
}

.contactSec h1 {
  color: #fafafa;
  font-size: 60px;
  font-weight: 700;
}

.contactSec .formSec form {
  margin-top: 50px;
}

.contactSec .formSec form .form-control {
  margin-bottom: 20px;
}

.contactSec .formSec form input {
  color: #fafafa;
  background-color: transparent;
  height: 50px;
  border-radius: 10px;
  box-shadow: none;
}

.contactSec .formSec form input::placeholder,
.contactSec .formSec form textarea::placeholder {
  color: #fafafa;
  opacity: 0.5;
}

.contactSec .formSec form input:focus,
.contactSec .formSec form textarea:focus {
  border: 1px solid #14d0ca;
  color: #fafafa;
}

.contactSec .formSec form textarea {
  color: #fafafa;
  background-color: transparent;
  height: 150px;
  box-shadow: none;
  border-radius: 10px;
}

.contactSec .formSec form button {
  width: 100%;
  height: 50px;
  background-image: linear-gradient(to right, #0d8edc, #14d0ca);
  font-weight: 600;
}

.contactSec .formSec form .success {
  color: green;
}

.contactSec .formSec form .fail {
  color: red;
}

.footer h1 {
  color: #f9f9f9;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 30px;
}

.footer i {
  color: #a1a1a1;
  font-size: 25px;
  padding-left: 20px;
  padding-right: 20px;
}

.footer i:hover {
  color: #f9f9f9;
}

.footer p {
  color: #f9f9f9;
  font-size: 12px;
  font-weight: 500;
  margin-top: 50px;
}

@media (max-width: 992px) {
  .navbar button {
    border: none;
  }
  .navbar button:focus {
    box-shadow: none;
  }
  .navbar button .material-symbols-outlined {
    font-size: 40px;
    color: #fafafa;
    outline: none;
  }
  .landing-sec h3 {
    font-size: 18px;
  }

  .landing-sec h1 {
    font-size: 72px;
  }

  .landing-sec p {
    font-size: 15px;
  }
}

@media (max-width: 576px) {
  .aboutSec {
    padding-top: 50px;
    padding-bottom: 100px;
    padding-left: 20px;
  }

  .projectSec {
    padding-left: 20px;
  }

  .contactSec {
    padding-left: 20px;
  }

  .contactSec h1 {
    font-size: 50px;
  }
}

@media (max-width: 489px) {
  .landing-sec h3 {
    font-size: 15px;
  }

  .landing-sec h1 {
    font-size: 42px;
  }

  .landing-sec p {
    font-size: 13px;
  }

  .footer i {
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
  }
}


